$black-olive: #423e37ff;
$maximum-yellow: #dea300;
$bright-maximum-yellow: #cfba80;
$eggshell: #edebd7ff;
$spanish-gray: #a39594ff;
$indigo-dye: #204269ff;
$red: #cc1212ff;
$body-text-color: #333;
$header-color : #001E3E;
$light-blue:#f8f9fa;
$page-title:#b67600;